:root {
  /* palette */
  --basic-red: #ee3643;
  --basic-green: #63a63e;
  --basic-grey: #3d546f;
  --basic-greylight: #c5c5c5;
  --basic-background: #f1f5f7;
  --white: #ffffff;
  --special-ylellow: #ffbf47;
  --special-blue: #3bbce3;
  --special-lilac: #dc91d8;
  --special-greenlight: #8ed78f;
  --special-yellowlight: #ffd180;
  --success: #5fbb2d;
  --warning: #ffbf47;
  --failure: #ba2732;
  --light-grey: #eaeaea;
  --blue-dark: #293449;
  --blue: #32425c;
  --dark-link: #161d29;
  --black: #000;
  --catalog-colored-heading: #f7f3ec;
  --old-price: #a9a9a9;
  --button-active: #518534;

  /* theme */
  --background-color-1: #f3f7f9;
  --background-color-2: var(--blue-dark);
  --background-color-3: var(--blue);

  --font-primary: "PT Sans", Arial, sans-serif;
  --font-secondary: Cuprum, sans-serif;

  --font-color: var(--black);
  --font-color-secondary: var(--white);

  --button-bg: var(--basic-red);
  --button-bg-hover: #f04d58;
  --button-bg-active: var(--failure);
  --button-text-color: var(--white);
  --button-text-color-hover: var(--white);
  --button-text-color-active: var(--white);

  --button-secondary-bg: var(--basic-green);
  --button-secondary-bg-hover: var(--success);
  --button-secondary-bg-active: var(--button-active);
  --button-secondary-text: var(--white);
  --button-secondary-text-hover: var(--white);
  --button-secondary-text-active: var(--white);

  --button-tertiary-color: var(--blue);
  --button-tertiary-border: var(--basic-green);
  --button-tertiary-color-hover: var(--blue);
  --button-tertiary-border-hover: var(--blue);

  --link-color: var(--special-yellowlight);
  --link-color-active: rgba(255, 209, 128, 0.5);
  --link-secondary-color: var(--white);
  --link-secondary-color-active: rgba(255, 255, 255, 0.5);
  --link-thirdly-color-active: var(--basic-red);

  --nav-link-bg: var(--blue);
  --nav-link-bg-hover: var(--blue-dark);
  --nav-link-bg-active: #1d2739;
  --nav-link-color-active: rgba(255, 255, 255, 0.5);
  --nav-link-secondary-bg: var(--blue-dark);
  --nav-link-secondary-bg-active: var(--dark-link);
  --nav-link-secondary-color-active: rgba(255, 255, 255, 0.5);

  --heading-color-1: var(--blue);
  --heading-color-2: var(--black);
  --header-heading-color: var(--basic-red);

  --panel-bg-color: #f2f6f8;
  --panel-filter: #f7f3ec;
  --logo-shadow: #b52933;
  --header-nav-shadow: rgba(41, 52, 73, 1);
  --social-button-bg: #212a3a;
}

body {
  min-width: 960px;
  margin: 0;
  padding: 0;
  font-family: var(--font-primary);
  font-style: normal;
  font-size: 13px;
  line-height: 24px;
  color: var(--font-color);
}

.font-secondary {
  font-family: var(--font-secondary);
  font-style: normal;
}

a {
  text-decoration: none;
}

.list-unstyle {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

img {
  max-width: 100%;
  height: auto;
}

/* grid  */
.row {
  display: flex;
}

.col-9 {
  width: 75%;
}

.col-8 {
  width: 66.6666%;
}

.col-7 {
  width: 58.33333%;
}

.col-6 {
  width: 460px;
}

.col-5 {
  width: 41.66666%;
}
.col-4 {
  width: 300px;
}

.col-3 {
  width: 25%;
}

.col-2 {
  width: 16.66666%;
}

/* styles  */
.logo {
  width: 108px;
  height: 18px;
  background-color: var(--basic-red);
  padding: 12px 57px 12px 55px;
  display: block;
  box-shadow: 0 5px 0 var(--logo-shadow);
}

.logo:active {
  background-color: var(--failure);
}

.logo-footer {
  padding: 20px 41px;
  line-height: 1;
  margin-right: auto;
  margin-bottom: 27px;
  height: 100%;
}

.header-color {
  background-color: var(--background-color-1);
  height: 320px;
}

.header__top-contols {
  display: flex;
  padding: 0;
  justify-content: space-between;
  height: 42px;
}

.header__top-contols_right {
  display: flex;
}

.header__top-contols_left {
  display: flex;
}

.header__top-contols_left:last-child {
  flex-grow: 1;
}

.header-footer-bg {
  background-color: var(--background-color-2);
}

.header__top-contols-login {
  display: flex;
}

.header__navigation {
  background-color: var(--background-color-3);
  display: flex;
  width: 940px;
  align-items: center;
  justify-content: space-between;
  padding: 0;
  list-style: none;
  font-size: 18px;
  box-shadow: 0 5px 0 var(--header-nav-shadow);
}

.header__phone {
  position: relative;
  display: inline-block;
  color: var(--basic-red);
  font-size: 21px;
  line-height: 30px;
  font-weight: bold;
  padding: 4px 42px 5px 71px;
  border: solid var(--white) 3px;
  height: 45px;
  box-sizing: border-box;
}

.header__phone::before {
  content: "";
  position: absolute;
  background-image: url("../img/svg-technomart/icon-phone.svg");
  background-repeat: no-repeat;
  background-position: 0 0;
  width: 19px;
  height: 19px;
  left: 36px;
  top: 10px;
  /* повернуть значок */
}

.header__login {
  display: inline-block;
  color: var(--black);
  background-color: var(--white);
  font-size: 21px;
  line-height: 21px;
  padding: 12px 24px;
}
.header__login_enter {
  padding-left: 45px;
  padding-right: 27px;
  position: relative;
  margin-right: 10px;
}

.header__login_enter::before {
  position: absolute;
  content: "";
  width: 20px;
  height: 17px;
  left: 19px;
  top: 14px;
  background-image: url(../img/svg-technomart/icon-login.svg);
  background-repeat: no-repeat;
  background-position: 0 0;
}

.header__login:hover {
  color: var(--basic-red);
}

.header__login_name {
  padding: 12px 57px;
  text-align: center;
  position: relative;
}

._name:hover {
  color: var(--black);
}

.header__login_name::before {
  position: absolute;
  content: "";
  width: 20px;
  height: 18px;
  background-image: url("../img/svg-technomart/icon-user.svg");
  background-repeat: no-repeat;
  background-position: 0 0;
  left: 15px;
}

.header__login_name::after {
  position: absolute;
  content: "";
  width: 20px;
  height: 17px;
  background-image: url("../img/svg-technomart/icon-logout.svg");
  background-repeat: no-repeat;
  background-position: 0 0;
  right: 17px;
  top: 14px;
}

.header__login:active {
  color: var(--basic-greylight);
}

.header__login_catalog {
  display: block;
  font-size: 16px;
  line-height: 18px;
  color: var(--blue);
  background-color: inherit;
}

.header__login-personal {
  display: flex;
  width: 210px;
  justify-content: space-between;
  margin-left: 43px;
  margin-top: 7px;
  position: relative;
}

.header__login-personal::after {
  position: absolute;
  content: "";
  width: 4px;
  height: 4px;
  background: var(--blue);
  border-radius: 50%;
  left: 90px;
  top: 8px;
}

.header__enter-registration {
  display: flex;
  margin-left: auto;
}

.link {
  /* жёлтый по умолчанию, чтобы было видно
       как на чёрном, так и на белом фоне */
  color: var(--link-color);
  font-size: 18px;
}

.link:hover {
  text-decoration: underline;
}

.link:active {
  color: var(--link-color-active);
}

.link_secondary,
.header__top-nav-element {
  color: var(--white);
}

.link_secondary:active,
.header__top-nav-element:active {
  color: var(--link-secondary-color-active);
}

.link_tertiary {
  font-size: 16px;
  line-height: 18px;
}

.link_tertiary:active {
  text-decoration: none;
  color: var(--link-thirdly-color-active);
}

.nav__link {
  display: block;
  height: 55px;
  background-color: var(--nav-link-bg);
  /* padding: 0 30px; */
  line-height: 60px;
}

nav ul li:first-child {
  padding-left: 52px;
}

nav ul li:last-child {
  padding-right: 47px;
}

.nav__link:hover {
  background-color: var(--nav-link-bg-hover);
  text-decoration: none;
}

.nav__link:active {
  background-color: var(--nav-link-bg-active);
  color: var(--nav-link-color-active);
}

.header__search {
  position: relative;
  background-color: inherit;
  border: none;
  line-height: 1;
}

.header__search input {
  font-size: 18px;
  font-family: var(--font-secondary);
  font-style: normal;
  padding-top: 9px;
  padding-bottom: 9px;
  padding-left: 43px;
  background-color: inherit;
  border: none;
  width: 271px;
  box-sizing: border-box;
  height: 42px;
  position: relative;
}

.header__search input:focus {
  background-color: var(--white);
  border: none;
  outline: 0;
}

.header__search input::placeholder {
  color: white;
}

.header__input {
  display: inline-block;
  position: absolute;
}

.header__input:focus::before {
  content: "";
  width: 17px;
  height: 17px;
  background-image: url("../img/svg-technomart/icon-search.svg");
  background-repeat: no-repeat;
  background-position: 0 0;
  top: 12px;
  left: 17px;
  color: var(--basic-red);
  pointer-events: none;
  /* не работает */
}

.header__search::before {
  position: absolute;
  content: "";
  width: 17px;
  height: 17px;
  background-image: url("../img/svg-technomart/icon-search.svg");
  background-repeat: no-repeat;
  background-position: 0 0;
  top: 12px;
  left: 17px;
  opacity: 30%;
}

.header__search:hover::before {
  opacity: 1;
}

.header__search:active {
  color: rgba(255, 255, 255, 0.5);
}

.header__search:focus {
  background-color: var(--white);
  color: black;
}

.header__search::placeholder {
  font-family: var(--font-secondary);
  font-style: normal;
  font-size: 18px;
  color: white;
}

.header__cart {
  text-transform: none;
}

.container {
  width: 940px;
  margin: 0 auto;
}

.header__adress {
  font-size: 14px;
  line-height: 24px;
  margin: 0;
  padding: 0;
  margin-left: 10px;
  padding-top: 4px;
  color: var(--blue);
}

.button {
  display: inline-block;
  background-color: var(--button-bg);
  color: var(--button-text-color);
  font-family: var(--font-secondary);
  text-transform: uppercase;
  font-size: 14px;
  line-height: 18px;
  padding: 11px 46px 9px;
  text-align: center;
  box-sizing: border-box;
}

.button:hover {
  background-color: var(--button-bg-hover);
  color: var(--button-text-color-hover);
}

.button:active {
  background-color: var(--button-bg-active);
  color: var(--button-text-color-active);
}

.button_secondary {
  background-color: var(--button-secondary-bg);
}

.button_secondary:hover {
  background-color: var(--button-secondary-bg-hover);
  color: var(--button-secondary-text-hover);
}

.button_secondary:active {
  background-color: var(--button-active);
  color: var(--button-secondary-text-active);
}

.header__shopping-controls {
  font-size: 18px;
  line-height: 24px;
  padding: 9px 16px;
  text-transform: none;
}

.header__shopping-controls:nth-child(3) {
  padding-left: 18px;
}

.header__shopping-controls:nth-child(2) {
  position: relative;
  padding-left: 35px;
  padding-right: 26px;
}

.header__shopping-controls:nth-child(2)::before {
  content: "";
  position: absolute;
  background-image: url("../img/svg-technomart/icon-cart.svg");
  background-repeat: no-repeat;
  background-position: 0 0;
  width: 15px;
  height: 15px;
  left: 12px;
  top: 13px;
  opacity: 0.3;
}

.header__saved {
  padding-right: 50px;
  padding-left: 43px;
  position: relative;
}

.header__saved::before {
  content: "";
  position: absolute;
  background-image: url("../img/svg-technomart/icon-bookmark.svg");
  background-repeat: no-repeat;
  background-position: 0 0;
  width: 14px;
  height: 16px;
  left: 20px;
  top: 13px;
  opacity: 0.3;
}

.header__saved:hover::before,
.header__shopping-controls:nth-child(2):hover::before {
  opacity: 1;
}

.header__saved:active::before,
.header__shopping-controls:nth-child(2):active::before {
  opacity: 0.3;
}

.header__shopping-controls:active {
  color: rgba(255, 255, 255, 0.5);
}

.button_tertiary {
  color: var(--button-tertiary-color);
  outline: var(--button-tertiary-border) solid 3px;
  background-color: var(--white);
  /* todo скруглить углы */
}

.button_tertiary:hover {
  outline-color: var(--button-tertiary-border-hover);
  background-color: inherit;
  color: inherit;
}

.button_tertiary:active {
  outline-color: var(--button-tertiary-border-hover);
  opacity: 0.5;
  color: inherit;
}

.hidden {
  display: none;
}

.visually-hidden:not(:focus):not(:active),
input[type="checkbox"].visually-hidden,
input[type="radio"].visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.footer__socials {
  display: flex;
  align-items: center;
  justify-content: center;
}

.social-button {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 44px;
  height: 44px;
  background-color: var(--social-button-bg);
  border-radius: 100%;
}

.social-button:hover,
.social-button:active {
  background-color: var(--basic-red);
}

.modal-form {
  font-family: var(--font-secondary);
  font-style: normal;
  font-size: 18px;
  color: var(--font-color);
}

.modal-form_inside {
  font-family: PT Sans;
  font-style: normal;
  font-size: 13px;
  color: var(--old-price);
}

.text-style {
  color: var(--white);
  font-size: 18px;
}

.text-style-reset {
  margin: 0;
}

.text-style-2 {
  color: var(--white);
  font-size: 16px;
  line-height: 18px;
}

.transport-company {
  font-family: var(--font-secondary);
  font-style: normal;
  font-size: 18px;
  line-height: 24px;
  margin-top: 0;
  margin-bottom: 12px;
  padding-left: 37px;
  position: relative;
}

.transport-company::before {
  position: absolute;
  content: "";
  width: 25px;
  height: 2px;
  background: var(--basic-red);
  left: 0;
  top: 13px;
}

.transport-company:last-child {
  margin-bottom: 20px;
}

.text-style-4 {
  margin-bottom: 26px;
}

.heading-2 {
  font-family: var(--font-secondary);
  font-style: normal;
  font-size: 30px;
  line-height: 30px;
  text-transform: uppercase;
  font-weight: normal;
  color: var(--heading-color-1);
  padding: 29px;
}

.heading-2_secondary {
  color: var(--heading-color-2);
  padding: 0px;
  margin-bottom: 24px;
  margin-top: 64px;
}

.heading-4 {
  display: inline-block;
  line-height: 18px;
  text-transform: uppercase;
  font-weight: normal;
  color: var(--heading-color-2);
  margin: 0;
  padding-left: 19px;
}

.heading-4_secondary {
  opacity: 0.3;
  border: 1px;
  border-bottom-style: dotted;
  border-color: var(--basic-red);
  padding-left: 0;
}

.heading-4_secondary:hover {
  opacity: 1;
  color: var(--heading-color-2);
  border-bottom-style: solid;
}

.heading-4_secondary:active {
  color: var(--header-heading-color);
  border-bottom-style: none;
}

.heading-filter {
  font-weight: bold;
  font-size: 17px;
  line-height: 30px;
  text-transform: uppercase;
  margin-top: 14 px;
  margin-bottom: 10px;
  padding-top: 16px;
  border-top: 1px solid var(--light-grey);
  width: 220px;
}

legend.heading-filter:nth-of-type(2) {
padding-bottom: 19px;
}

.heading-filter_price {
  border: none;
}

.filter {
  display: flex;
  flex-direction: column;
  margin-right: 20px;
  width: 220px;
}

ul.list-unstyle.filter {
  padding-top: 8px;
}

.filter__fieldset {
  border-style: none;
  margin: 0;
  padding: 0;
  margin-right: 20px;
}

.filter__power-system {
  font-size: 15px;
  line-height: 19px;
  text-transform: uppercase;
}

.filter__button-show {
  border: 1px solid var(--light-grey);
  background-color: white;
  width: 220px;
  height: 38px;
}

.label {
  font-size: 15px;
  line-height: 19px;
  text-transform: uppercase;
  font-family: var(--font-primary);
  font-style: normal;
  padding-left: 35px;
  padding-bottom: 20px;
}

.product {
  list-style: none;
  border: 1px var(--light-grey) solid;
  width: 220px;
  min-height: 318px;
  margin-bottom: 18px;
}

.product__image {
  display: block;
  margin-left: 33px;
  margin-top: 22px;
  height: 128px;
  width: 144px;
}

.product__image_without-priсe {
  width: 127px;
  height: 112px;
  margin-top: 29px;
}

.product__heading {
  font-weight: bold;
  font-size: 18px;
  line-height: 20px;
  width: 185px;
  text-align: center;
  margin: 28px 18px 7px;
}

.product__old-price {
  font-weight: bold;
  font-size: 17px;
  line-height: 18px;
  color: var(--old-price);
  text-decoration-line: line-through;
  text-transform: uppercase;
  text-align: center;
  margin: 0;
  margin-bottom: 13px;
}

.product__heading_without-old-price {
  margin-bottom: 39px;
}

.product__new-price {
  width: 141px;
  font-weight: bold;
  font-size: 17px;
  margin-left: 45px;
  margin-right: 34px;
  padding: 10px 44px 10px 32px;
}

.panel {
  background-color: var(--panel-bg-color);
}

.panel-filter {
  background-color: var(--panel-filter);
  align-items: center;
  height: 38px;
  width: 100%;
  box-sizing: border-box;
  margin-right: 20px;
  /* to do скруглить углы */
}

.panel__filter-sort {
  display: flex;
  justify-content: space-between;
}

.panel__filter-types {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 460px;
}
.page {
  height: 100%;
  padding: 0;
  margin: 0;
}

.page-body {
  min-height: 100%;
  display: grid;
  grid-template-rows: min-content 1fr min-content;
  align-content: start;
}

.header-content {
  display: flex;
  margin-top: 46px;
}

.header-content-right {
  display: flex;
  margin-left: auto;
  flex-direction: column;
}

.header__heading {
  display: inline-block;
  width: 197px;
  color: var(--header-heading-color);
  font-style: italic;
  font-weight: normal;
  font-size: 16px;
  line-height: 23px;
  margin: -2px 93px 44.5px 29px;
}

.header__phone-adress {
  display: block;
}

.main {
  align-items: flex-end;
}

.main__first-column {
  margin-right: auto;
}

.main__second-column_text {
  width: 180px;
}

.wide {
  width: 100%;
}

.main__img {
  display: block;
  margin-bottom: 25px;
}

.footer {
  background-color: var(--background-color-3);
  margin-top: 70px;
}

.footer__first-row {
  display: flex;
  justify-content: space-between;
}

.footer__first-row-links {
  display: flex;
  justify-content: space-between;
  margin-top: 37px;
  width: 550px;
  margin-bottom: 34px;
}

.footer__first-section {
  display: flex;
  flex-wrap: wrap;
}

.footer__second-row {
  display: flex;
  justify-content: space-between;
}

.footer__second-row-links {
  display: flex;
  justify-content: space-between;
  width: 530px;
  margin-bottom: 74px;
}

.footer-bottom {
  display: flex;
  justify-content: space-between;
  height: 107px;
  align-items: center;
}

.footer__feedback {
  display: flex;
}

.footer__feedback-elements {
  display: flex;
  flex-direction: column;
}

.footer__feedback-elements:first-child {
  margin-right: 51px;
}

.catalog {
  display: flex;
  flex-wrap: wrap;
  margin: 0;
  justify-content: space-between;
  margin-top: 28px;
}

.catalog__bread-crumbs {
  display: flex;
  margin-top: 17px;
  margin-bottom: 20px;
  margin-right: auto;
  padding: 0;
  width: 463px;
  /* не смогла выровнять по вертикали */
}

.catalog__bread-crumbs_element {
  padding-right: 41px;
  position: relative;
}

.catalog__bread-crumbs_element:first-of-type {
  padding-right: 55px;
}

.catalog__bread-crumbs_element:nth-of-type(1)::before {
  position: absolute;
  content: "";
  background-image: url("../img/svg-technomart/icon-home.svg");
  width: 14px;
  height: 12px;
  left: 0;
  top: 3px;
}

.catalog__bread-crumbs_element:nth-of-type(2)::before,
.catalog__bread-crumbs_element:nth-of-type(3)::before,
.catalog__bread-crumbs_element:nth-of-type(4)::before {
  position: absolute;
  content: "";
  background-image: url("../img/svg-technomart/icon-right-small.svg");
  background-repeat: no-repeat;
  background-position: 0 0;
  width: 8px;
  height: 12px;
  left: -26px;
  top: 3px;
}

.button-sort {
  border: none;
  position: relative;
}

.button-sort:first-of-type::after {
  position: absolute;
  content: "";
  background-image: url("../img/svg-technomart/icon-down-dir.svg");
  background-color: var(--basic-red);
  width: 11px;
  height: 10px;
  transform: rotate(180deg);
  /* превратился в квадрат при смене цвета */
}

.button-sort:last-of-type::after {
  position: absolute;
  content: "";
  background-image: url("../img/svg-technomart/icon-down-dir.svg");
  background-color: var(--basic-greylight);
  width: 11px;
  height: 10px;
}

.price {
  height: 80px;
  margin-bottom: 9px;
}

.price-gradation {
  height: 38px;
  width: 95px;
  padding: 0;
  margin: 0;
  margin-bottom: 25px;
  border: none;
}

.price-gradation ::placeholder {
  align-items: center;
}

.transport-company-text {
  padding-top: 1px;
  padding-bottom: 2px;
}

.about-company {
  padding-left: 40px;
  padding-right: 40px;
}
