:root {
	/* palette */
  --basic-red: #ee3643;
  --basic-green: #63a63e;
  --basic-grey: #3d546f;
  --basic-greylight: #c5c5c5;
  --basic-background: #f1f5f7;
  --white: #ffffff;
  --special-ylellow: #ffbf47;
  --special-blue: #3bbce3;
  --special-lilac: #dc91d8;
  --special-greenlight: #8ed78f;
  --special-yellowlight: #ffd180;
  --success: #5fbb2d;
  --warning: #ffbf47;
  --failure: #ba2732;
  --light-grey: #eaeaea;
  --header-blue-dark: #293449;
  --header-blue: #32425c;
  --dark-link: #161d29;
  --black: #000;

	/* theme */
	--font-primary: "PT Sans", Arial, sans-serif;
	--font-secondary: Cuprum, sans-serif;
	
  --button-primary-bg: var(--basic-red);
  --button-primary-bg-hover: #f04d58;
  --button-primary-bg-active: var(--failure);
	--button-primary-text-color: var(--white);
	--button-primary-text-color-hover: var(--white);
	--button-primary-text-color-active: var(--white);

  --button-secondary-bg: var(--basic-green);
  --button-secondary-bg-hover: var(--success);
  --button-secondary-bg-active: #518534;
	--button-secondary-text: var(--white);
	--button-secondary-text-hover: var(--white);
	--button-secondary-text-active: var(--white);
}

body {
  min-width: 960px;
  margin: 0;
  padding: 0;
  font-family: var(--font-primary);
  font-style: normal;
  font-size: 13px;
  line-height: 24px;
  color: black;
}
a {
  text-decoration: none;
}
.list-unstyle {
  list-style-type: none;
}

img {
  max-width: 100%;
  height: auto;
}

header,
footer {
  background-color: var(--basic-background);
  font-family: var(--font-secondary);
  font-style: normal;
}

.logo {
  background-color: var(--basic-red);
  padding: 12px 57px 17px 55px;
}

.logo:active {
  background-color: var(--failure);
}

.logo-footer {
  padding: 20px 41px 25px 41px;
}

.logo-header:active,
.logo-footer:active {
  background-color: var(--failure);
}

.style-a,
.blue-background p {
  color: white;
  font-size: 18px;
}

header p {
  color: var(--header-blue);
  font-size: 14px;
}

.header-search {
  font-size: 18px;
  line-height: 24px;
  font-family: var(--font-secondary);
  font-style: normal;
  background-color: var(--header-blue-dark);
  color: var(--white);
}

.header-search:active {
  color: rgba(255, 255, 255, 0.5);
}

.header-search:focus {
  background-color: var(--white);
  color: black;
}

.dark-link:active {
  background-color: var(--dark-link);
}

.blue-dark-background {
  background-color: var(--header-blue-dark);
}

.blue-background {
  background-color: var(--header-blue);
}

h1 {
  color: var(--basic-red);
  font-style: italic;
  font-weight: normal;
  font-size: 16px;
  line-height: 23px;
}

h2 {
  font-family: var(--font-secondary);
  font-style: normal;
  font-size: 30px;
  line-height: 30px;
  text-transform: uppercase;
  font-weight: normal;
}

.to-make-an-order {
  display: block;
  background-color: var(--basic-green);
}

.to-make-an-order:hover {
  background-color: var(--success);
}

.to-make-an-order:active {
  background-color: var(--basic-green);
}

.to-make-an-order:active span {
  opacity: 0.5;
}

.header-a:hover {
  background-color: var(--header-blue-dark);
}

.header-a:active {
  background-color: var(--dark-link);
}

.telephone {
  color: var(--basic-red);
  font-size: 21px;
  line-height: 30px;
}

.registration {
  color: var(--black);
  background-color: var(--white);
  font-size: 21px;
  line-height: 21px;
}

.registration:hover {
  color: var(--basic-red);
}

.registration:active {
  color: var(--basic-greylight);
}

.link {
  /* жёлтый по умолчанию, чтобы было видно
       как на чёрном, так и на белом фоне */
  color: var(--special-yellowlight);
  text-decoration: none;
}

.link:hover {
  text-decoration: underline;
}

.link:active {
  text-decoration: none;
}

.link:active .text {
  opacity: 0.5;
}

.link-active-highlight:active {
  color: var(--basic-red);
}

.link-active-highlight:active .text {
  opacity: 1;
}

.link-light {
  color: var(--white);
}

.footer-bottom {
  font-size: 16px;
  line-height: 18px;
  color: var(--white);
}

.main-ul {
  font-size: 18px;
  font-family: var(--font-secondary);
}

.about-company {
  background-color: var(--basic-red);
  color: var(--white);
  font-size: 14px;
  line-height: 18px;
  font-family: var(--font-secondary);
  text-transform: uppercase;
}

.write-us {
  font-family: var(--font-secondary);
  font-size: 18px;
  line-height: 24px;
}

main ::placeholder {
  font-family: var(--font-primary);
  font-style: normal;
  font-size: 13px;
  line-height: 24px;
  color: white;
}

.basket-catalog {
  background-color: var(--basic-red);
}

.registration-catalog {
  font-family: var(--font-secondary);
  font-style: normal;
  font-size: 16px;
  line-height: 18px;
  background-color: var(--white);
  color: var(--header-blue);
}

.button {
	display: inline-block;
  background-color: var(--button-primary-bg);
  color: var(--button-primary-text-color);
  font-family: var(--font-secondary);
  text-transform: uppercase;
  font-size: 14px;
  line-height: 18px;
  padding: 11px 46px 9px;
}

.button:hover {
	background-color: var(--button-primary-bg-hover);
	color: var(--button-primary-text-color-hover);
}

.button:active {
	background-color: var(--button-primary-bg-active);
	color: var(--button-primary-text-color-active);
}

.button-secondary {
	background-color: var(--button-secondary-bg);
	color: var(--button-secondary-text);
}

.button-secondary:hover {
	background-color: var(--button-secondary-bg-hover);
	color: var(--button-secondary-text-hover);
}

.button-secondary:active {
	background-color: var(--button-secondary-bg-active);
	color: var(--button-secondary-text-active);
}

.product {
  display: block;
}
